
footer {
		width: 100%;
		height: 4rem;
		background-color: #20202065;
		border-top: purple 1px solid;


}


footer > * {
	display: inline-block;
	width: 49%;
	border: none;
	margin: 0;
	padding: 0 1em;
}

footer > ul {
	color: grey;
	text-decoration: underline;
	text-transform: lowercase;
	list-style: none;
}

footer li {
	cursor: pointer;
}
