
footer {
		width: 100%;

		background-color: #20202065;
		border-top: orange 1px solid;
		display: flex;
		justify-content: space-around;
		align-items: center;
}


footer > * {
	display: inline-block;
	width: 49%;
	border: none;
	margin: 0;
	padding: 0 1em;
}

footer ul {
	list-style: none;
	margin-top: 0.5%;
}

footer li {
	cursor: pointer;
}

footer div {
	display: inline;
}

footer a {
	color: white;
	text-decoration: none;
}

footer h3 {
	background-color: transparent;
}

.centre {
	display: flex;
	justify-content: center;
	align-items: center;
}

.reseau {
	float: right;
}

footer * img {
	height: 2em;
	margin-left: 15px;
	margin-right: 15px;
	margin-top: 1%;
}

.flex {
	display: inline-flex;
}