/* Import roboto font */
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300&display=swap');

/* Accueil */
header {
	width: 100vw;
	height: 100vh;
	display: block;
	display: grid;
	position: relative;

	user-select: none; /* supported by Chrome and Opera */
	-webkit-user-select: none; /* Safari */
	-khtml-user-select: none; /* Konqueror HTML */
	-moz-user-select: none; /* Firefox */
	-ms-user-select: none;
}

main {
	display: block;
	width: clamp(60%,35rem,100%);
	margin: auto;
	padding-top: 5em;
	text-align: justify;
}

/* Article et news */
article {
	width: 80%;
	height: auto;
	font-family: 'Open Sans', sans-serif;

	min-height: 40vh;
}

article:nth-child(even) {
	text-align: right;
	float: right;
}

article:nth-child(odd) {
	text-align: left;
	float: left;
}

article, article > * {
	background: none !important;
}

main section article:nth-child(odd) h3 {
	text-indent: 50px;
	padding-bottom: 25px;
}

main section article:nth-child(even) h3 {
	padding-right: 50px;
	padding-bottom: 25px;
}
