
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300&display=swap');

		/* landing */
			header {
				width: 100vw;
				height: 100vh;
				display: block;
				display: grid;
				position: relative;

				user-select: none; /* supported by Chrome and Opera */
-webkit-user-select: none; /* Safari */
-khtml-user-select: none; /* Konqueror HTML */
-moz-user-select: none; /* Firefox */
-ms-user-select: none;
			}

			header img {
				margin: auto auto;
				max-width: 90vw;
			}

			header span {
				color: white;
				position: absolute;
				bottom: 0;
				left: 50%;
				transform: translate(-50%, 0);
				font-size: 30pt;
				cursor: pointer;

				animation-name: go-down;
				animation-duration: 2s;
				animation-iteration-count: infinite;
			}

			@keyframes go-down {
				from {
					margin-bottom: 0;
				}
				50% {
					margin-bottom: 20px;
				}
				to {
					margin-bottom: 0;
				}
			}


body {
}

article {
	width: 100%;
	height: auto;
	margin: 4rem 0;
	font-family: 'Roboto', sans-serif;

	min-height: 50vh;
}
article:nth-child(2n) {
	text-align: right;
	padding-right: 2em;
}
article:nth-child(2n+1) {
	text-align: left;
	padding-left: 2em;
}

article, article > *, article > * {
	background: none !important;
}

#w1 button,#w2 button {
	border: none;
	cursor: pointer;
	color: white;

	margin: 0.5rem;
	padding: .2em 1em ;
	font-weight: bold;

	border-radius: 1rem;

}

#w1 #form-remerciement-add {
	background: rgb(209,23,86);
	background: linear-gradient(90deg, rgba(209,23,86,1) 9%, rgba(114,0,131,1) 100%);
}

#w1 #form-remerciement-consult {
	background: rgb(209,23,86);
	background: linear-gradient(90deg, rgb(23, 122, 209) 9%, rgb(0, 131, 45) 100%);
}

#w2 #discord-link {
	background: #6577C2;
	color: #000;mix-blend-mode: screen;
	position: relative;
	padding-right: 2rem;
}

#w2 #discord-link:after {
	background-image: url('https://discord.com/assets/1c8a54f25d101bdc607cec7228247a9a.svg');
	content: '';
	display: block;
	width: 1rem;
	height: 1rem;
	position: absolute;
	right: 0.5rem;
	top: 50%;
	transform: translate(0,-50%);
	outline: none;
}
