
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300&display=swap');

		/* landing */
			#acc {
				width: 100vw;
				height: 100vh;
				display: block;
				display: grid;
				position: relative;
				
				user-select: none; /* supported by Chrome and Opera */
-webkit-user-select: none; /* Safari */
-khtml-user-select: none; /* Konqueror HTML */
-moz-user-select: none; /* Firefox */
-ms-user-select: none;
			}
			
			#acc img {
				margin: auto auto;
				max-width: 90vw;
			}
			
			#acc span {
				color: white;
				position: absolute;
				bottom: 0;
				left: 50%;
				transform: translate(-50%, 0);
				font-size: 30pt;
				cursor: pointer;
				
				animation-name: go-down;
				animation-duration: 2s;
				animation-iteration-count: infinite;
			}
			
			@keyframes go-down {
				from {
					margin-bottom: 0;
				}
				50% {
					margin-bottom: 20px;
				}
				to {
					margin-bottom: 0;	
				}
			}
			
			
body {
}	
	
.widget {
	width: 100%;
	height: auto;
	margin: 4rem 0;
	font-family: 'Roboto', sans-serif;

	min-height: 50vh;
}
.widget:nth-child(2n) {
	text-align: right;
	padding-right: 2em;
}
.widget:nth-child(2n+1) {
	text-align: left;
	margin-left: 2em;
}

.widget, .widget > *, .widget > * {
	background: none !important;
}

#w1 button {
	border: none;
	cursor: pointer;
	color: white;
	
	background: rgb(209,23,86);
	background: linear-gradient(90deg, rgba(209,23,86,1) 9%, rgba(114,0,131,1) 100%);
	padding: .2em 1em ;
	font-weight: bold;
	
	border-radius: 1rem;
}
