@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300&display=swap');
	
* {
	font-family: 'Roboto', sans-serif;
}

#b1 {
	background: rgb(209,85,23);
	background: linear-gradient(90deg, rgba(209,85,23,1) 9%, rgba(131,108,0,1) 100%);
	border: none;
}

main > form > * {
	display: block;
	
}

br {
	margin-bottom: 1rem;
}

main > form {
	margin: 1rem;
}

main input[type="text"] {
	padding: .4em;
	background: #20205050;
	border: none;
	color: white;
	width: 80%;
	max-width: 15rem;
}

main input::placeholder {
	color: lightgrey;
}

textarea {
	padding: .4em;
	background: #20205050;
	border: none;
	color: white;
	width: 95%;
	display: block;
	height: 5rem ;
	
}

h1 {
	text-align: center;
}

button {
	margin: auto;
	padding: .4em 1em;
	cursor: pointer;
	transition: .2s;
	font-weight: bold;
}

button:hover {
	transform: translate(-3px , -3px);
	box-shadow: white 2px 2px;
}

button:active {
	transform: translate(0px , 0px);
	box-shadow: white 0px 0px;

}

input#anonym {
	visibility: hidden;
}

input#anonym ~ label:after {
	content: "□";
}

input#anonym:checked ~ label:after {
	content: "✓";
	border: 1px solid white;
}

#info span{
	display: none;
	width: 0;
}
#info:hover span{
	display: inline;
	width: hover;
}