/* Header part */
header {
  text-align: center;
  font-family: 'Comic Sans MS', sans-serif;
}

header h6,header i {
  color: lightgrey;
}

header i {
  font-size: 75%;
}

/* Message part */
.message {
  display: block;
  width: 80vw;
  margin: 5rem 10%;
}

.message h1 {
  font-family: monospace, sans-serif;
}

.message p {
  font-family: 'Comic Sans MS', serif;
}
