header img {
    margin: auto auto;
    width: 20rem;
}

main section article p {
    margin-bottom: 2em;
}

main section article div {
    display: flex;
    justify-content: space-evenly;
    align-items: baseline;
}


/* Carte de présentation des membres du bureau */

.office-card {
    padding: 1em;
    flex-basis: 16em;
    overflow: hidden;
    display: grid;
    grid-template-rows: 1fr 6fr 2fr;
    grid-template-columns: 1fr;
}

.office-card img {
    max-width: 100%;
    grid-row: 2;
    height: auto;
}

.office-card h4 {
    grid-row: 1;
    text-align: center;
}

.office-card .card-bottom {
    grid-row: 3;
    text-align: center;
    width: 100;
}

article p {
    font-weight: 350;
}

article p.major {
    font-weight: 500;
}

.flex {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: stretch;
}

.card-bottom {
    display: flex;
    flex-direction: column;
}

#bureau {}