<!DOCTYPE html>
<html lang="fr-FR" dir="ltr">
	<head>
		<!-- -->
		<meta charset="utf-8"/>
		<title> PC[i] - <!-- XXX ---> </title>

		<link rel="icon" href="/assets/icon.png" type="image/png"/>
		<link rel="stylesheet" href="/assets/global.css" type="text/css"/>

		<!-- Background -->
		<script src="/assets/modules/background/background.js"></script>
		<link rel="stylesheet" href="/assets/modules/background/background.css" type="text/css"/>

		<!-- Footer -->
		<script src="/assets/modules/footer/footer.js"></script>
		<link rel="stylesheet" href="/assets/modules/footer/footer.css" type="text/css"/>

		<!-- Local -->
		<!-- XXX --->
	</head>

	<body>

		<header>
			<img src="/assets/icon.png" alt="PC[i]"/>
			<!-- XXX --->
		</header>

		<main>
			<!-- XXX --->
		</main>
		
	</body>
</html>
