@import url('https://fonts.googleapis.com/css2?family=Nunito:ital,wght@1,300&display=swap');

html {
	font-family: 'Nunito', sans-serif;
	font-size: 1.2rem !important;

	min-height: 100%;	
	overflow: hidden;
}


h1 {
	color: orange;
	text-style: normal;
}

