main {
	min-width: 500px;
	width: 69vw;
	margin: 0 auto;

	height: Calc(100vh - 8rem);
	overflow-y: scroll;
}

main > div {
	display: block;
	width: 100%;
	position: relative;
	margin: 1.5em 0;
}

main > div ~ div:before {
	content: " ";

	display: block;
	height: 1px;
	width: 99%;
	
	background-color: grey;

	position: absolute;
	top: -.5rem;
	left: 0;
}

main > div > span {
	text-align: right !important;
	color: grey;

	position: absolute;
	bottom: -1rem;
	right: 0;

} 

main > div > h4 {
	color: teal;
	font-weight: bold;
}


/* SCROLLBAR for chrome base browser (and mozilla since a later version)*/
main::-webkit-scrollbar {
	width: 10px;
}
main::-webkit-scrollbar-track {
	background: #ddd; 
}
main::-webkit-scrollbar-thumb {
  background: #555; 
  border-radius: 5px;
}
main::-webkit-scrollbar-thumb:hover {
  background: #000; 
}

main {
	scroll-behavior: smooth;
}



