/** En-tête **/
header {
	display: grid;
	grid-gap: 1rem;
	grid-template-columns: repeat(auto-fit, 8rem);
	align-items: center;
	align-content: center;
	justify-content: center;
}

header img {
	width: 3rem;
	height: auto;
	margin: auto;
}

header img:nth-child(2) {
	width: 10rem;
}

/* Contenu */
main {
  text-align: center;
}

main * {
	margin-bottom: 1rem;
	outline: none;
}

main #reponse {
  display: block;
  margin: auto;
  padding: 1px;
  width: 50%;
  text-align: center;

  color: white;
  font-family: monospace, sans-serif;
  font-size: 20pt;

  border: 1px solid grey;
  background-color: rgba(0, 0, 0, 0.8);
}

main button {
  display: block;
  margin: 1rem auto;
  font-size: 100%;
  padding: .5em 1em;
  background: #6577C2;
  border: none;
  border-radius: .2em;
  cursor: pointer;

  font-family: cursive, serif;
}

main a {
	padding: 0 3rem;
}


main input {
	width: 2rem;
	height: 2rem;
	display: block;
	margin: 1rem auto ;
	border: none;
	background: none;
	color: teal;
	font-size: 15pt;
	cursor: pointer;

}
