header {
  text-align: center;
  margin: 1rem 0;
}

main {
  margin: 2rem 0;
  text-align: center;
}

main form {
  margin: 2rem;
}
main span {
  font-family: 'Comic Sans MS', serif;
}

main i {
  font-family: monospace;
}

main input {
  display: block;
  margin: auto;
  padding: .5em 1em;
  min-width: 80%;
  text-align: center;
}

main button {
  display: block;
  margin: auto;
  padding: .5em 1em;
  background: #6577C2;
  border: none;
  border-radius: .2em;
  cursor: pointer;
  transition: .5s;
  outline: none;
}

main button:hover {
  transform: translate(-2px,-2px);
  box-shadow: 2px 2px #ccc;
}

main button:active {
  transform: translate(2px,2px);
  box-shadow: 0px 0px #ccc;
}
