@import url('https://fonts.googleapis.com/css2?family=Caveat&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400&display=swap');

:root {
	--main-font: 'Open Sans', sans-serif;
	--second-font: 'Caveat', cursive;
}

html {
	width: 100%;
	font-family: var(--main-font);
}

body {
	width: 100%;
	min-height: 100vh;
}

h3 {
	color:teal;
	margin:0;
	background-color: black;

	font-size: 20px;
	padding-bottom: 25px;
}

p {
	margin:0;
}

/* La couleur par défaut est le blanc, et on dit explicitement que les a sont par défaut de la même couleur */
html, a {
	color: white;
}
a:visited {
	color: #eaeaea;
}

/* Pour le logo PC[i] écrit en texte */
.var {
	color:teal;
}
.index {
	color:orange;
}

main, main * {
    background: none;
}

/* Bande verticale et centrer, responsive avec une marge minimale */
main {
	display: block;
	width: clamp(60%,35rem,Calc(100% - 20px));
	margin: auto;
	padding-top: 5em;
}

/* Marge inter-article */
article ~ article {
    margin-top: 3rem !important;
}

/* Retire la possibilité de selectionnez l'entête, cela peut créer des choses moches. */
header {
	user-select: none;
	-webkit-user-select: none;
	-khtml-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
}
