
header {
	text-align: center;
	margin: 1rem;
}

header img {
	width: 20rem;
}

main section article {
	margin: 1rem;
}

main section article p {
	text-align: justify;
}

.sous-titre {
	color: orange;
	text-indent: 0;
	text-align: center;
	padding-bottom: 2em;
}
